/*-------------------------------------------------------+
| Bowling Statistics
| Starting CSS Template
+--------------------------------------------------------+
| Author: Bret Wagner  Email: bretwagner@bwagner-webdev.com
+--------------------------------------------------------+*/

body , html {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Domine' serif;
}

img, object, embed, video {
    max-width: 100%
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 2em;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size:2em;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2em;

}

p {
    font-family: 'Domine', serif;
    font-weight: normal;
    font-size: 16px;
}

input[type="submit"] {
    display: block;
    clear: both;
    margin: 20px;
}

.container {
    display: block;
    margin: 0 auto;
}

.btn {
    padding: 4px 9px;
    text-align: center;
    border-radius: 3px;
}

.clear {
    clear: both;
}

.msg-info p, .msg-atten p, .msg-ok p, .msg-error p {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
}

p#success {
    color: #115809;
    line-height: 8px;
}

button.score-btn {
    font-size: 16px;
    padding: 5px 9px;
    margin: 5px;
}

.hidden {
    display: none;
}

.frame {
    width: 8%;
    height: 150px;
    display: inline-block;
    margin: 25px -3px;
    border: 2px solid #000;
}

.frame-header {
    background-color: #bbbb9d;
    line-height:36px;
    margin-top: -16px;
}

.frame-header p {
    font-weight: bold;
    text-align:center;
}

.frame-body {
    background-color: #fafad2;
    width: 100%;
    height: 75%;
    margin-top: -16px;
    border-top: 2px solid #000;
}

.frame-top {
    height: 40%;
    margin-right: -2px;
    margin-top: -16px;
}

#frame10 .frame-top {
    margin-top: 0;
}

.ballbox {
    height: 100%;
    width: 50%;
    display: inline;
    text-align: center;
}

.strikebox {
    width: 40%;
    border: solid 2px #000;
    height: 100%;
    float: right;
    margin-right: -2px;
    margin-top: -2px;
    display: inline;
    text-align: center;
}

.ballbox.strikebox10 {
    width: 32%;
    border: 2px solid #000;
    display: inherit;
    margin-top: -2px;
    margin-left: -2px;
    float: left;
    text-align: center;
}

.strikebox10:not(.ballbox) {
    width: 32%;
    border: 2px solid #000;
    height: 100%;
    float: left;
    margin-top: -2px;
    margin-left: -2px;
    text-align: center;
}
